name: CI

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push image
      run: |
        IMAGE_SHA=ghcr.io/${{ github.repository_owner }}/miniproject:${{ github.sha }}
        IMAGE_LATEST=ghcr.io/${{ github.repository_owner }}/miniproject:latest
        docker build -t $IMAGE_SHA -t $IMAGE_LATEST ./app
        docker push $IMAGE_SHA
        docker push $IMAGE_LATEST
